body{
text-align: center-left;
font-size: 150%;
font-style: italic;
font-weight: bolder;
/*background-image: url("nature.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;*/
}

html { 
  background: url("nature.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main{
	width: 1000px;
	height: 600px;
	/*background: #ffab19;*/	
	margin: 10% 75%;
	/*border: solid 2px #ff3819;*/
}

h1{
	text-align: center;
	font-family: "Times New Roman";
	font-size: 30pt;
	color: #000000;
}	

.music-info {
    margin: 10px 0; /* Adjusted margin for spacing */
}

/*form{
	text-align:right;
	font-size: 15pt;
}	*/

/*audio {display:none;}*/
