body{
background: #d9ead3;
text-align: center-left;
font-size: 150%;
font-style: italic;
font-weight: bolder;
background-image: url("nature.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
}
#main{
	width: 1000px;
	height: 600px;
	/*background: #ffab19;*/	
	margin: 100px 750px;
	/*border: solid 2px #ff3819;*/
}

h1{
	text-align: center;
	font-family: "Times New Roman";
	font-size: 30pt;
	color: #000000;
}	

form{
	text-align:right;
	font-size: 15pt;
}	